<#{"seed":100}#>
<!DOCTYPE html>
<html>
<head>

<style>
.cb{
	width:20px;
	height:20px;
	display:inline-block;
	float:left;
	padding:0px;
	margin:0px;
}
</style>
</head>
<body style="padding:0;margin:0;">

<h2>
Generated with the following command 'tdg -i .\RandomColouredDivs.template -o RandomColouredDivs.html'
</h2>
<div style="width:100%">
  
  <<(  <div class="cb" style="background-color:rgb\([0-255],[0-255],[0-255])"></div> \n){2000}>>

</div>
</body>
</html>